
@{
    ViewBag.Title = "demoForm";
}

<h2>demoForm</h2>

<form method="post">
    <input name="txtA" type="text" value=@ViewBag.txtA />X2+
    <input name="txtB" type="text" value=@ViewBag.txtB />X+
    <input name="txtC" type="text" value=@ViewBag.txtC />=@ViewBag.Ans
    <br /><br />
    <input value="OK" type="submit" />
</form>
